# See systemd.service(5) for details
# Place into /lib/systemd/system and run:
# systemctl enable test-network.service

[Unit]
Description=Service to validate the network connection by pinging a gateway
After=network-online.target

[Service]
ExecStart=/root/NativeRaspberryPiBeaconParser/bin/test-network.sh start
ExecStop=/root/NativeRaspberryPiBeaconParser/bin/test-network.sh stop
RemainAfterExit=yes
Type=forking

[Install]
WantedBy=multi-user.target
